@model Application.ViewModel.AcomodacaoViewModel


@{
    ViewData["Title"] = "ADM - Remoção";
    ViewData["ActiveText"] = "Administração - Remoção";
}

<!--================Breadcrumb Area =================-->

@* Renderiza o fragmento de breadCrumb no começo da pagina *@
@await Html.PartialAsync("../Fragments/_Breadcrumb");

<!--================Breadcrumb Area =================-->
<section class="section_gap">
<div class="container">
<h1>Deletar</h1>

<h3>Você tem certeza? Essa ação não poderá ser desfeita.</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <p>Nome:</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@Html.DisplayFor(model => model.Nome)</p>
        </dd>
        <dt class = "col-sm-2">
            <p>@Html.DisplayNameFor(model => model.IdHome):</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@Html.DisplayFor(model => model.Home.Nome)</p>
        </dd class>
        <dt class = "col-sm-2">
            <p>@Html.DisplayNameFor(model => model.IdValor):</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@Html.DisplayFor(model => model.Tarifas.Valor)</p>
        </dd class>
        <dt class = "col-sm-2">
            <p>@Html.DisplayNameFor(model => model.Ativo):</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@Html.DisplayFor(model => model.Ativo)</p>
        </dd>
        <dt class = "col-sm-2">
            <p>Descrição:</p>
        </dt>
        <dd class = "col-sm-10">
            <p>@Html.DisplayFor(model => model.Descricao)</p>
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-info" asp-action="Index">Voltar para a Lista</a>
    </form>
</div>
</div>
</section>