@model Application.ViewModel.AcomodacaoViewModel

@{
    ViewData["Title"] = "ADM - Editar";
    ViewData["ActiveText"] = "Administração - Editar";
}

<!--================Breadcrumb Area =================-->

@* Renderiza o fragmento de breadCrumb no começo da pagina *@
@await Html.PartialAsync("../Fragments/_Breadcrumb");

<!--================Breadcrumb Area =================-->
<section class="section_gap">

    <div class="container">

        <h1 class="text-primary">Editar</h1>

        <h4 class="text-success">Acomodação: @Model.Nome</h4>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <input type="hidden" asp-for="Id" />

                    <div class="form-group">
                        @if (Model.Imagens.Any())
                        {
                            foreach (var imagem in Model.Imagens)
                            {
                                <h3>Excluir Imagem?</h3>
                                <div class="imagem-item">

                                    <img src="~/@imagem.RotaImagem" width="300" height="250" alt="Imagem"
                                        class="img-thumbnail" />

                                    <!-- Checkbox para selecionar a imagem para exclusão -->
                                    <input type="checkbox" class="form-check-input" name="ImagensExcluir" value="@imagem.Id" />

                                    <!-- Exibir a rota da imagem (opcional) -->
                                    <label>@imagem.RotaImagem</label>
                                </div>
                            }

                        }
                        else
                        {
                            <label>Ainda não há fotos para @Model.Nome</label>
                        }
                    </div>
                    <div class="form-group">
                        <label asp-for="Fotos" class="form-label text-info">Fotos</label>
                        <input class="form-control bg-light" type="file" name="Fotos" asp-for="Fotos" multiple />
                    </div>
                    <div class="form-group">
                        <label asp-for="Nome" class="form-label text-info"></label>
                        <textarea asp-for="Nome" class="form-control bg-light text-dark" readonly></textarea>
                    </div>
                    <div class="form-group">
                        <label asp-for="Descricao" class="form-label text-info"></label>
                        <textarea asp-for="Descricao" class="form-control bg-light text-dark" rows="4"></textarea>
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdValor" class="form-label text-info"></label>
                        <select asp-for="IdValor" class="form-select bg-light text-dark"
                            asp-items="@(new SelectList(ViewBag.Tarifas, "Id", "Valor"))">
                        </select>
                        <span asp-validation-for="IdValor" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="IdHome" class="form-label text-info"></label>
                        <select asp-for="IdHome" class="form-select bg-light text-dark"
                            asp-items="@(new SelectList(ViewBag.Home, "Id", "Nome"))"></select>
                        <span asp-validation-for="IdHome" class="text-danger"></span>
                    </div>
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" asp-for="Ativo"
                            id="flexSwitchCheckAtivo" checked="@Model.Ativo" />
                        <label class="form-check-label" for="flexSwitchCheckAtivo">Pronto para Anunciar?</label>
                        <span asp-validation-for="Ativo" class="text-danger"></span>
                    </div>
                    <div class="">
                        <button type="submit" class="btn btn-success">Salvar</button>
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a class="btn btn-info mt-3" asp-action="Index">Voltar para a Lista</a>
        </div>

    </div>

</section>
<script>
    // Verificar se há uma mensagem de alerta
    var mensagemAlerta = '@TempData["MensagemAlerta"]';
    if (mensagemAlerta) {
        // Exibir um alerta na tela
        alert(mensagemAlerta);
    }
</script>