@model Application.ViewModel.HomeViewModel


@{
    ViewData["Title"] = "Deletar";
    ViewData["ActiveText"] = "Administração - Remoção";
}

@* Renderiza o fragmento de breadCrumb no começo da pagina *@
@await Html.PartialAsync("../Fragments/_Breadcrumb"); 

<section class="section_gap">
    
<div class="container">
<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Home</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao_0)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao_0)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao_1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao_1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao_2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao_2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao_3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao_3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao_4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao_4)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</div>
</section>