@model IEnumerable<Application.ViewModel.HomeViewModel>

@{
    ViewData["Title"] = "ADM - Estabelecimentos";
    ViewData["ActiveText"] = "Administração - Estabelecimentos";
}

<!--================Breadcrumb Area =================-->

@* Renderiza o fragmento de breadCrumb no começo da pagina *@
@await Html.PartialAsync("../Fragments/_Breadcrumb");

<!--================Breadcrumb Area =================-->


<section class="section_gap">
    
<div class="container">


<p>
    <a class="btn btn-info btn-sm" asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao_0)
            </th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao_0)
            </td>
            <td>
                <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
        
            </td>
        </tr>
}
    </tbody>
</table>
</div>

</section>